name: Coverage

on:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Generate coverage
        run: cargo tarpaulin --workspace --exclude metaxy-macro --exclude metaxy-demo --exclude-files "crates/metaxy-cli/tests/*" --out xml --output-dir coverage

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage/cobertura.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: misha-mad/metaxy
          fail_ci_if_error: true
          verbose: true
